*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background: url(img/svt_slnc.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
    
}
.yer{
    width: 500px;
  
    
}